<div id="edit" class="view">
  <!-- begin: data -->
  <div ng-show="data" ng-cloak>
  <p class="data">
    <label for="data-label">Angkutan</label>
    <input type="text" id="data-label"
           placeholder="Nama dan nomor angkutan"
           ng-model="data.line.label"></input>
    <span>Contoh: Mikrolet M17, Kopaja S616, &hellip;</span>
  </p>
  <p class="data">
    <label for="data-origin">Berangkat</label>
    <input type="text" id="data-origin"
           placeholder="Lokasi keberangkatan"
           ng-model="data.line.origin"></input>
  </p>
  <p class="data">
    <label for="data-destination">Tujuan</label>
    <input type="text" id="data-destination"
           placeholder="Lokasi tujuan"
           ng-model="data.line.destination"></input>
  </p>

  <p class="back">&larr; <a href="/line/{{ data.id }}/">kembali</a></p>
  <!-- end: data -->
  <div ng-hide="data">
    <p>loading data..</p>
  </div>
</div>
