<div id="info" class="view">
  <!-- begin: data -->
  <div ng-show="data" ng-cloak>
  <h2><span ng-bind="data.line.type"></span>
      <span ng-bind="data.line.number"></span>
  </h2>
  <p class="name" ng-show="data.line.name" ng-bind="data.line.name"></p>

  <p class="back">&larr; <a href="/line/">kembali</a></p>

  <div class="routes">
    <div ng-repeat="route in data.routes"
         class="route">
    <h3 ng-show="route.name">Rute {{ route.name }}</h3>
    <h3 ng-hide="route.name">Rute #{{ $index + 1 }}</h3>
    <p>
      <span ng-repeat-start="location in route.locations"
            ng-bind="location"
            class="location"></span>
      <span ng-repeat-end ng-hide="$last"> &rarr; </span>
    </p>
    </div>
  </div>
  </div>
  <!-- end: data -->
  <div ng-hide="data">
    <p>loading data..</p>
  </div>
</div>
