/*= head =*/

#head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  height: 40px;
  max-height: 40px;
  box-shadow: 0 0px 5px 2px rgba(160, 160, 160, 0.8);
  z-index: 50;
  line-height: 40px;
}
#head h1 {
  font-family: "Roboto Condensed", "Helvetica Neue", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  float: left;
}
#head .alpha {
  float: left;
  line-height: 24px;
  margin-left: -5px;
}
#head .alpha a {
  color: #e00;
  text-decoration: none;
}
#head .alpha a:hover {
  color: #f00;
}

#head div.search {
  height: 40px;
  margin-left: 10px;
  left: 320px;
  top: 0px;
  position: absolute;
}
#head div.search input,
#head div.search button {
  height: 26px;
  border: 1px solid #ccc;
  padding: 0 5px;
  line-height: 26px;
}
#head div.search input {
  width: 200px;
  border-radius: 2px 0 0 2px;
}
#head div.search button {
  padding: 0 10px;
  height: 28px;
  border-left: 0px;
  margin-bottom: 4px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

#head .menu {
  float: right;
}
#head .menu ul li {
  display: inline-block;
}
#head .menu ul li a {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
#head .menu ul li a:hover {
  background: #eee;
}

/*= map =*/

#map {
  position: absolute;
  top: 40px;
  left: 330px;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 25;
}

/*= side panel =*/

.sidepanel {
  position: absolute;
  top: 40px;
  left: 0;
  width: 300px;
  height: auto;
  z-index: 40;
  padding: 15px;
  background: white;
  border-radius: 0 0 5px 0;
  box-shadow: 0 0px 10px rgba(160, 160, 160, 0.75);
  overflow: auto;
  bottom: 0px;
  border-radius: 0;
  overflow-x: hidden;
}
.sidepanel h2 {
  font-size: 16px;
}
.sidepanel input[type="text"],
.sidepanel select {
  width: 100%;
  margin: 2px 0 3px 0;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.sidepanel label {
  color: #444;
}
.sidepanel hr {
  border: 0;
  height: 1px;
  background: #ccc;
}
.sidepanel > *:first-child,
.sidepanel > .close + * {
  margin-top: 0px;
}
.sidepanel > *:last-child {
  margin-bottom: 0px;
}

.sidepanel .nav {
  margin-top: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
  margin-right: -15px;
  box-shadow: 0 0 5px 0 rgba(192, 192, 192, 0.8);
}
.sidepanel .nav li {
  display: inline-block;
  background: white;
  line-height: 28px;
  height: 28px;
  padding: 4px 10px 0 10px;
  font-size: 12px;
  cursor: pointer;
}
.sidepanel .nav li.active {
  background: #eee;
  border-bottom: 2px solid #eee;
}
.sidepanel .nav li:hover {
  border-bottom: 2px solid #ccc;
}

.mapquest-nominatim {
  margin-top: 100px;
  color: #888;
}
.mapquest-nominatim img {
  vertical-align: middle;
}

/*= route designer =*/

#data-form input[name="company"] {
  width: 74%;
  display: inline;
  margin-right: 2%;
}
#data-form input[name="number"] {
  width: 24%;
  text-align: center;
}
#data-form p.term-agreement {
  line-height: 26px;
  height: 26px;
}
#data-form p.term-agreement input {
  vertical-align: middle;
}
#data-form p.term-agreement label {
  cursor: pointer;
}
#data-form p.error {
  color: red;
}
#data-form p.incomplete strong {
  text-decoration: underline;
  font-weight: normal;
}
#data-form p.incomplete strong.ok {
  text-decoration: none;
}

/*= submission-list =*/

#submission-list .route {
  border-bottom: 1px solid #ccc;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  cursor: pointer;
  border-left: 5px solid #fff;
}
#submission-list .route.active {
  background: #eee;
  border-left: 5px solid #eee;
}
#submission-list .route:hover {
  border-left: 5px solid #ccc;
}
#submission-list .route p {
  margin: 0px;
}
#submission-list .route p.action {
  text-align: right;
}
#submission-list .date {
  color: #aaa;
  font-size: 12px;
}

/*= new transportation =*/

.new-transportation-form p {
  margin: 0px;
}
.new-transportation-form p.term-agreement {
  margin-top: 10px;
}
.new-transportation-form p.error {
  color: red;
  margin-top: 10px;
}
.new-transportation-form label {
  display: block;
}
.new-transportation-form input[type="checkbox"] {
  vertical-align: middle;
}
.new-transportation-form input + label {
  display: inline;
  cursor: pointer;
}
.new-transportation-form input[type="text"],
.new-transportation-form select {
  width: 100%;
  margin: 2px 0 3px 0;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 2px;
  padding: 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.new-transportation-form input[name="company"] {
  width: 79%;
  display: inline;
  margin-right: 1%;
}
.new-transportation-form input[name="number"] {
  width: 20%;
  text-align: center;
}
.new-transportation-form p.action {
  text-align: right;
  margin-top: 20px;
}
.new-transportation-form label {
  font-size: 14px;
}
.new-transportation-form p.incomplete strong {
  text-decoration: underline;
  font-weight: normal;
}
.new-transportation-form p.incomplete strong.ok {
  text-decoration: none;
}

/*= angkot map =*/

.angkot-map-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 30;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
}

.leaflet-transportation-info {
  border-radius: 2px;
  padding: 10px;
  background: white;
  box-shadow: 0 0 5px 0 #888;
  min-width: 150px;
}
.leaflet-transportation-info p {
  margin: 0 0 5px 0;
}
.leaflet-transportation-info p.edit {
  margin: 5px 0 0 0;
  text-align: right;
}
.leaflet-transportation-info p.t {
  text-decoration: underline;
}
.leaflet-transportation-info .empty {
  cursor: pointer;
  color: #888;
  padding: 0 10px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}
.leaflet-transportation-info span.empty {
  display: inline-block;
}
.leaflet-transportation-info .empty:hover {
  background: LightYellow;
}

