@import url(http://fonts.googleapis.com/css?family=Roboto:400+700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400+700);

html, body, * {
  margin: 0px; padding: 0px;
  list-style: none;
  font-size: 13px;
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
}
p {
  margin: 5px 0 10px 0;
}
h1, h2, h3 {
  margin: 5px 0 10px 0;
}
h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0px;
}
h1:last-child, h2:last-child, h3:last-child {
  margin-bottom: 0px;
}

#head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.90);
  height: 40px;
  max-height: 40px;
  box-shadow: 0 0px 5px 2px rgba(160, 160, 160, 0.8);
  z-index: 50;
  line-height: 40px;
}
#head h1 {
  font-family: "Roboto Condensed", "Helvetica Neue", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  float: left;
}
#head .search {
  display: inline-block;
  height: 40px;
  margin-left: 10px;
}
#head .search input,
#head .search button {
  height: 26px;
  border: 1px solid #ccc;
  padding: 0 5px;
  line-height: 26px;
}
#head .search input {
  width: 200px;
  border-radius: 2px 0 0 2px;
}
#head .search button {
  padding: 0 10px;
  height: 28px;
  border-left: 0px;
  margin-bottom: 4px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
#head .new-route {
  display: inline-block;
  height: 40px;
  margin-left: 10px;
}
#head .new-route button {
  border: 0px;
  padding: 0 10px;
  height: 28px;
  margin-bottom: 4px;
  border-radius: 2px;
  cursor: pointer;
  background: #e74c3c;
  color: white;
  font-weight: bold;
  line-height: 28px;
}
#head .menu {
  float: right;
}
#head .menu ul li {
  display: inline-block;
}
#head .menu ul li a {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
#head .menu ul li a:hover {
  background: #eee;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 25;
}
#map .map-control-spacer {
  height: 40px;
  width: 40px;
  visibility: hidden;
}

#content {
  position: absolute;
  top: 40px;
  left: 0;
  width: 250px;
  height: auto;
  z-index: 40;
  padding: 15px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 5px 0;
  box-shadow: 0 0px 10px rgba(160, 160, 160, 0.75);
}
#content.full {
  bottom: 40px;
}
#content h2 {
  font-size: 14px;
}
#content input[type="text"] {
  width: 240px;
  margin: 2px 0 3px 0;
  line-height: 24px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 0 5px;
}
#content label {
  color: #444;
}
#content button {
  border: 0px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-radius: 2px;
  cursor: pointer;
}
#content hr {
  border: 0;
  height: 1px;
  background: #ccc;
}
#content > *:first-child {
  margin-top: 0px;
}
#content > *:last-child {
  margin-bottom: 0px;
}

#buat-rute input[name="perusahaan"] {
  width: 171px;
  display: inline;
  margin-right: 5px;
}
#buat-rute input[name="nomor"] {
  width: 50px;
  text-align: center;
}
#buat-rute button.simpan {
  background: #27AE60;
  color: white;
  font-weight: bold;
}

