{% load staticfiles %}
<!DOCTYPE html>
<html><head>
<title>Login</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="{% static "css/page.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/account.css" %}"/>
</head><body class="login">

<div id="head">
<h1>Peta Angkutan Umum</h1>
</div>

<div class="c">

<h2>Login</h2>

<p>Silakan masuk dengan salah satu akun berikut.</p>

<ul>
<li><a href="{% url "socialauth_begin" "google-oauth2" %}"><img title="Google" src="{% static "img/google.png" %}"/></a></li>
<li><a href="{% url "socialauth_begin" "facebook" %}"><img title="Facebook" src="{% static "img/facebook.png" %}"/></a></li>
<li><a href="{% url "socialauth_begin" "twitter" %}"><img title="Twitter" src="{% static "img/twitter.png" %}"/></a></li>
</ul>

</div>

</div></body></html>

