{% extends "account/base.html" %}
{% load staticfiles %}

{% block title %}Login gagal{% endblock %}

{% block content %}

<p>Proses login <strong style="color:red">tidak berhasil</strong>.</p>

<div class="action">
<p class="close">
  <a href="{% url "account_login_page" %}"
     onclick="window.close(); return false;">&times; tutup window</a>
</p>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
if (window.opener) {
  if (window.opener.login_fail) {
    window.opener.login_fail();
  }
}
</script>
{% endblock %}

