{% load staticfiles %}
<!DOCTYPE html>
<html><head>
<title>Login</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="{% static "css/page.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/account.css" %}"/>
</head><body class="login">

<div id="head">
<h1>Peta Angkutan Umum</h1>
</div>

<div class="c">

<h2>Login</h2>

<p>Silakan masuk dengan salah satu akun berikut.</p>

<ul>
<li><a onclick="popup(this); return false" href="{% url "socialauth_begin" "google-oauth2" %}?ao=login"><img title="Google" src="{% static "img/google.png" %}"/></a></li>
<li><a onclick="popup(this); return false" href="{% url "socialauth_begin" "facebook" %}?ao=login"><img title="Facebook" src="{% static "img/facebook.png" %}"/></a></li>
<li><a onclick="popup(this); return false" href="{% url "socialauth_begin" "twitter" %}?ao=login"><img title="Twitter" src="{% static "img/twitter.png" %}"/></a></li>
</ul>

</div>

</div>
<script>
var active = false;

function login_success() {
  location.href = "{% url "account_index" %}";
}

function login_fail() {
  active = false;
}

function popup(el) {
  // if (active) return;
  active = true;
  var p = window.open(
            el.href, 'angkot-account-auth',
            'width=500,height=500,menubar=no,toolbar=no,alwaysRaised');

  p.onbeforeunload = function(e) {
    var e = e || window.event;
    active = false;
  }
}
</script>
</body></html>

