{% extends "account/base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}<div class="login">

<h2>Login</h2>

<p>Silakan masuk dengan salah satu akun berikut.</p>

<ul>
<li><a onclick="popup(this); return false" href="{% url "socialauth_begin" "google-oauth2" %}?ao=login"><img title="Google" src="{% static "img/google.png" %}"/></a></li>
<li><a onclick="popup(this); return false" href="{% url "socialauth_begin" "facebook" %}?ao=login"><img title="Facebook" src="{% static "img/facebook.png" %}"/></a></li>
<li><a onclick="popup(this); return false" href="{% url "socialauth_begin" "twitter" %}?ao=login"><img title="Twitter" src="{% static "img/twitter.png" %}"/></a></li>
</ul>

<p>Informasi pribadi Anda akan dilindungi sepenuhnya. Silakan baca juga <a href="{{ ANGKOT_PRIVACY_POLICY_URL }}" target="angkot_privacy_policy">kebijakan privasi</a>
angkot.web.id.</p>

</div>{% endblock %}

{% block extrascripts %}
<script>
var active = false;

function login_success() {
  location.href = "{% url "account_index" %}";
}

function login_fail() {
  active = false;
}

function popup(el) {
  // if (active) return;
  active = true;
  var p = window.open(
            el.href, 'angkot-account-auth',
            'width=500,height=500,menubar=no,toolbar=no,alwaysRaised');

  p.onbeforeunload = function(e) {
    var e = e || window.event;
    active = false;
  }
}
</script>
{% endblock %}

