{% load staticfiles %}
<!DOCTYPE html>
{% block tag-html %}<html>{% endblock %}<head>
<title>{% block title %}Peta Angkutan Umum{% endblock %}</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="{% static "css/page.css" %}"/>
{% block extrastyles %}{% endblock %}
</head>{% block tag-body %}<body>{% endblock %}

<div id="head">
  <h1>Peta Angkutan Umum</h1>
  <div class="alpha"><a href="https://github.com/fajran/angkot" target="_blank">alpha!</a></div>
  {% block extrahead %}{% endblock %}
</div>

<div class="c"><!-- content -->
{% block content %}{% endblock %}
</div><!-- // content -->

{% block extrascripts %}{% endblock %}
{% if GOOGLE_ANALYTICS_ID %}
<script type="text/javascript">
  {% if GOOGLE_ANALYTICS_IGNORE %}
  window.ga = function() {
    console.log('GA', arguments);
  }
  {% else %}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  {% endif %}
  ga('create', '{{ GOOGLE_ANALYTICS_ID }}', '{{ GOOGLE_ANALYTICS_HOST }}');
  ga('send', 'pageview');
</script>
{% endif %}
</body></html>

