body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, p, div {
  margin: 0px;
  padding: 0px;
}

#c {
  width: 100%;
  height: 100%;
  background: yellow;
}
#side {
  di
}
#map {
}
