@import url(//fonts.googleapis.com/css?family=Roboto:400+700);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400+700);

body {
  font-family: "Roboto", sans-serif;
}

/*= Header =*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-angkot {
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.375);
  z-index: 500;
  font-family: "Roboto Condensed", sans-serif;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none;
  color: black;
  font-size: 20px;
}

.navbar-brand a {
  text-decoration: none;
  float: left;
  color: black;
}
.navbar-brand a.alpha {
  font-size: small;
  margin: -7px 0 0 7px;
}
.navbar-brand a.alpha:hover {
  text-decoration: underline;
}

.form-control {
  color: black;
}

/*= Side =*/

.side {
  position: absolute;
  top: 50px;
  left: 00px;
  bottom: 0px;
  width: 350px;
  z-index: 100;
  background: white;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.175);
  padding-top: 10px;
}

.side .box {
  margin: 10px;
}

/*= Map =*/

#map {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 350px;
  right: 0px;
  z-index: 50;
}

/*= leaflet =*/

.leaflet-map-editable {
  cursor: crosshair;
}
.leaflet-polyline-editable-handle {
  background: white;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: crosshair;
}
.leaflet-polyline-editable-handle-edge {
  background: rgba(255, 255, 255, 0.5);
  cursor: crosshair;
}

.leaflet-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 20px;
  margin-top: 0px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
.leaflet-tooltip > .title {
  color: #ff0;
}

/*= Side:Index =*/

.side-index .location select {
  width: 265px;
}
.modal-new-line .ng-invalid {
  background: lightyellow;
}
