# DATABASES = {
#     'default': {
#         'ENGINE': 'django.contrib.gis.db.backends.postgis',
#         'NAME': 'angkot',
#         'USER': 'angkot',
#         'PASSWORD': 'angkot',
#         'HOST': 'localhost',
#         'PORT': '',
#     }
# }

# GOOGLE_ANALYTICS_ID = ''
# GOOGLE_ANALYTICS_HOST = ''
# MAPBOX_KEY = ''

# USERVOICE_CODE = '''
# <!-- UserVoice JavaScript SDK (only needed once on a page) -->
# <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/USER-VOICE-ID.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
# 
# <!-- A tab to launch the Classic Widget -->
# <script>
# UserVoice = window.UserVoice || [];
# UserVoice.push(['showTab', 'classic_widget', {
#   mode: 'feedback',
#   primary_color: '#cc6d00',
#   link_color: '#007dbf',
#   forum_id: 217173,
#   tab_label: 'Feedback',
#   tab_color: '#cc6d00',
#   tab_position: 'middle-right',
#   tab_inverted: false
# }]);
# </script>
# '''

ANGKOT_CONTRIBUTOR_TERMS_URL = ''

