<!DOCTYPE html>
<html><head>
<style type="text/css">
body, html {
  margin: 0px; padding: 0px; height: 100%; width: 100%;
}
#map {
  margin: 0px; padding: 0px; height: 100%;
  margin-left: 250px;
}
#control {
  position: absolute;
  width: 230px;
  height: 100%;
  padding: 0 10px;
  overflow: auto;
}
#control .c {
  width: 100%;
  padding: 10px 0;
}

#control .sec {
  margin-bottom: 20px;
}
#control .w {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 0;
}
.direction label {
  display: block;
}
</style>
</head><body>

<div id="control"><div class="c">

<div class="search sec">
  <label for="search">Cari lokasi</label>
  <input class="w" type="text" id="search" onchange="search()"/>
</div>

<div class="direction sec">
  <label for="from">Lokasi keberangkatan</label>
  <input class="w" type="text" id="from"/>
  <label for="to">Tujuan</label>
  <input class="w" type="text" id="to"/>
</div>

</div></div>
<div id="map"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="gmaps-key.js"></script>
<script type="text/javascript">
document.writeln('<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key='+GMAPS_KEY+'&sensor=false&libraries=geometry"><'+'/script>');
</script>
<script type="text/javascript">

var JAKARTA = [-6.1744444, 106.8294444];
var gm = google.maps;
var geocoder = undefined;

var map = undefined;

var pathLayer = undefined,
    path = undefined,
    nextPathLayer = undefined,
    nextPath = undefined;

function search() {
  var q = $('#search').val();
  if (q.length === 0) return;

  var address = q + ', Jakarta, Indonesia';
  geocoder.geocode({address: address}, function(results, status) {
    if (status == gm.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
    }
  });
}

function getDistance(p1, p2) {
  return gm.geometry.spherical.computeDistanceBetween(p1, p2);
}

function initPathEditor() {
  // path
  var opts = {
    editable: true,
    draggable: false,
    strokeColor: '#ff0000',
    strokeOpacity: 0.9
  };
  pathLayer = new gm.Polyline(opts);
  pathLayer.setMap(map);

  path = pathLayer.getPath();

  // next path: last point to the mouse position
  opts = {
    editable: false,
    draggable: false,
    strokeColor: '#0000ff',
    strokeOpacity: 0.5
  }
  nextPathLayer = new gm.Polyline(opts);

  nextPath = nextPathLayer.getPath();
  nextPath.push(map.getCenter());
  nextPath.push(map.getCenter());

  // click on the map
  gm.event.addListener(map, 'click', function(e) {
    if (path.getLength() >= 2) {
      var d1 = getDistance(e.latLng, path.getAt(0));
      var d2 = getDistance(e.latLng, path.getAt(path.getLength()-1));
      if (d2 > d1) {
        // reverse path
        var p = path.getArray().slice();
        for (var i=0, j=p.length-1; i<p.length; i++, j--) {
          path.setAt(i, p[j]);
        }
      }
    }

    path.push(e.latLng);

    nextPath.setAt(0, e.latLng);
    nextPath.setAt(1, e.latLng);

    if (nextPathLayer.getMap() !== map) {
      nextPathLayer.setMap(map);
    }
  });

  // click on the next path
  gm.event.addListener(nextPathLayer, 'click', function(e) {
    nextPath.setAt(0, e.latLng);
    path.push(e.latLng);
  });

  // double click to end path
  gm.event.addListener(pathLayer, 'dblclick', function(e) {
    console.log(e);
    if (nextPathLayer.getMap() === map) {
      if (e.vertex === path.getLength()-1) {
        nextPathLayer.setMap(null);
      }
    }
    else {
      path.removeAt(e.vertex);
    }
  });

  // mouse hovering the map
  gm.event.addListener(map, 'mousemove', function(e) {
    if (nextPathLayer.getMap() === map) {
      nextPath.setAt(1, e.latLng);
    }
  });

  // if the latest point in the path is moved, update nextPath[0] as well
  gm.event.addListener(path, 'set_at', function(pos) {
    if (pos === path.getLength()-1) {
      nextPath.setAt(0, path.getAt(pos));
      nextPath.setAt(1, path.getAt(pos));
    }
  });

  // escape button
  var removeLast = function() {
    if (nextPathLayer.getMap() === map) {
      nextPathLayer.setMap(null);
    }
    else {
      if (path.getLength() > 0) {
        path.removeAt(path.getLength() - 1);
      }
      if (path.getLength() === 1) {
        path.removeAt(0);
      }
    }
  }
  $(document).keyup(function(e) {
    if (e.keyCode === 27) {
      removeLast();
    }
  });
}

function initMap() {
  var opts = {
    center: new gm.LatLng(JAKARTA[0], JAKARTA[1]),
    zoom: 13,
    minZoom: 12,
    mapTypeId: gm.MapTypeId.ROADMAP,
    streetViewControl: false,
    panControl: false
  }
  var target = document.getElementById('map');
  map = new gm.Map(target, opts);

  geocoder = new gm.Geocoder();
}

function init() {
  initMap();
  initPathEditor();
}

$(window).ready(function() {
  init();
});

</script>
</body></html>
