{% load staticfiles %}
<!DOCTYPE html>
<html><head>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'/>
<link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel='stylesheet' type='text/css'/>
<style type="text/css">
* {
  margin: 0px; padding: 0px;
  font-family: Roboto, Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
body, html {
  margin: 0px; padding: 0px; height: 100%; width: 100%;
}
#map {
  margin: 0px; padding: 0px; height: 100%;
  margin-left: 250px;
}
#control {
  position: absolute;
  width: 230px;
  height: 100%;
  padding: 0 10px;
  overflow: auto;
}
#control .c {
  padding: 10px 0;
}

#control .sec {
  margin-bottom: 20px;
}
#control .w {
  margin-bottom: 5px;
}
.direction label {
  display: block;
  margin-bottom: 0px;
}
.direction .control-group {
  margin-bottom: 0px;
}
.direction .control-group.error {
  margin-bottom: 10px;
}

#confirmation .modal-footer .info {
  margin-right: 20px;
}

#map img {
  max-width: none;
}
</style>
</head><body>

<div id="control"><div class="c">

<div class="search sec input-append">
  <input class="w input-medium" type="text" id="search" placeholder="Cari lokasi" />
  <button class="btn" type="button">Cari</button>
</div>

<div class="direction sec">
  <div class="control-group type">
    <label for="type">Jenis angkutan</label>
    <input class="w" type="text" id="type"/>
  </div>
  <div class="control-group name">
    <label for="name">Nomor angkutan <i class="icon-hand-left"></i></label>
    <input class="w" type="text" id="name"/>
    <span class="help-block hide">Nomor angkutan perlu diisi.</span>
  </div>
  <div class="control-group origin">
    <label for="origin">Lokasi keberangkatan</label>
    <input class="w" type="text" id="origin"/>
  </div>
  <div class="control-group destination">
    <label for="destination">Tujuan</label>
    <input class="w" type="text" id="destination"/>
  </div>
</div>

<div class="info sec">
  <p>Panjang jalur: <span id="path-length">0 m</span></p>
</div>

<div class="action sec">
  <a href="#confirmation" class="btn btn-primary" id="btn-submit" title="Kontribusikan jalur yang Anda buat">Kirim</a>
</div>

</div></div>

<div id="map"></div>

<div class="modal hide fade" id="confirmation" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pernyataan</h3>
  </div>
  <div class="modal-body">
    <p>Dengan ini saya setuju untuk melisensikan data jalur yang saya kirim
  dengan lisensi <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported</a>.</p>
    <p class="info"><a href="#">Informasi lebih lanjut &rarr;</a></p>
    <div id="license-info" class="hide">
      <p>Siapapun bisa dengan bebas untuk:</p>
      <ul>
      <li>membagikan data Anda ke siapapun, dan</li>
      <li>mengadaptasi data dengan keperluan lain.</li>
      </ul>
      <p>Asalkan:</p>
      <ul>
      <li>harus memberikan keterangan sumber data (Anda dan kontributor lain),</li>
      <li>tidak untuk kepentingan komersial, dan</li>
      <li>jika mengubah data, maka hasil ubahan harus dapat didistribusikan
          dengan lisensi yang sama dengan data ini.</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel">batal</a>
    <a href="#" class="btn btn-primary submit">setuju dan kirim</a>
  </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false&libraries=geometry"></script>
<script type="text/javascript">

var JAKARTA = [-6.1744444, 106.8294444];
var gm = google.maps;
var geocoder = undefined;

var map = undefined;

var pathLayer = undefined,
    path = undefined,
    nextPathLayer = undefined,
    nextPath = undefined;

// using jQuery
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  crossDomain: false, // obviates need for sameOrigin test
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type)) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});

if(!String.prototype.trim) {
  String.prototype.trim = function () {
    return this.replace(/^\s+|\s+$/g,'');
  };
}

function search() {
  var q = $('#search').val();
  if (q.length === 0) return;

  var address = q + ', Jakarta, Indonesia';
  geocoder.geocode({address: address}, function(results, status) {
    if (status == gm.GeocoderStatus.OK) {
      var g = results[0].geometry;
      if (g.viewport) {
        map.fitBounds(g.viewport);
      }
      else if (g.bounds) {
        map.fitBounds(g.bounds);
      }
      else {
        map.setCenter(g.location);
      }
    }
  });

  $('#search').focus();
}

function getDistance(p1, p2) {
  return gm.geometry.spherical.computeDistanceBetween(p1, p2);
}

function updatePathInfo() {
  var distance = gm.geometry.spherical.computeLength(path);
  var format = function(val) {
    return Math.round(val * 100) / 100;
  }
  if (distance < 5000) {
    $('#path-length').text(format(distance) + ' m');
  }
  else {
    distance = distance / 1000;
    $('#path-length').text(format(distance) + ' km');
  }
}

function initPathEditor() {
  var cancelClick = false;

  // path
  var opts = {
    editable: true,
    draggable: false,
    strokeColor: '#ff0000',
    strokeOpacity: 0.9
  };
  pathLayer = new gm.Polyline(opts);
  pathLayer.setMap(map);

  path = pathLayer.getPath();

  // next path: last point to the mouse position
  opts = {
    editable: false,
    draggable: false,
    strokeColor: '#0000ff',
    strokeOpacity: 0.5
  }
  nextPathLayer = new gm.Polyline(opts);

  nextPath = nextPathLayer.getPath();
  nextPath.push(map.getCenter());
  nextPath.push(map.getCenter());

  // click on the map
  var startNewPoint = function(e) {
    if (path.getLength() >= 2) {
      var d1 = getDistance(e.latLng, path.getAt(0));
      var d2 = getDistance(e.latLng, path.getAt(path.getLength()-1));
      if (d2 > d1) {
        // reverse path
        var p = path.getArray().slice();
        for (var i=0, j=p.length-1; i<p.length; i++, j--) {
          path.setAt(i, p[j]);
        }
      }
    }

    path.push(e.latLng);

    nextPath.setAt(0, e.latLng);
    nextPath.setAt(1, e.latLng);

    if (nextPathLayer.getMap() !== map) {
      nextPathLayer.setMap(map);
    }
  }
  gm.event.addListener(map, 'click', function(e) {
    setTimeout(function() {
      if (!cancelClick)
        startNewPoint(e);
      cancelClick = false;
    }, 250);
  });

  gm.event.addListener(map, 'dblclick', function(e) {
    cancelClick = true;
  });

  // click on the next path
  gm.event.addListener(nextPathLayer, 'click', function(e) {
    nextPath.setAt(0, e.latLng);
    path.push(e.latLng);
  });

  // double click to end path
  gm.event.addListener(pathLayer, 'dblclick', function(e) {
    if (nextPathLayer.getMap() === map) {
      if (e.vertex === path.getLength()-1) {
        nextPathLayer.setMap(null);
      }
    }
    else {
      path.removeAt(e.vertex);
    }
  });

  // mouse hovering the map
  gm.event.addListener(map, 'mousemove', function(e) {
    if (nextPathLayer.getMap() === map) {
      nextPath.setAt(1, e.latLng);
    }
  });

  // if the latest point in the path is moved, update nextPath[0] as well
  gm.event.addListener(path, 'set_at', function(pos) {
    if (pos === path.getLength()-1) {
      nextPath.setAt(0, path.getAt(pos));
      nextPath.setAt(1, path.getAt(pos));
    }
  });

  // escape button
  var removeLast = function() {
    if (nextPathLayer.getMap() === map) {
      nextPathLayer.setMap(null);
    }
    else {
      if (path.getLength() > 0) {
        path.removeAt(path.getLength() - 1);
      }
    }
  }
  $(document).keyup(function(e) {
    if (e.keyCode === 27) {
      removeLast();
    }
  });

  // path info
  gm.event.addListener(path, 'insert_at', updatePathInfo);
  gm.event.addListener(path, 'set_at', updatePathInfo);
  gm.event.addListener(path, 'remove_at', updatePathInfo);
}

function initMap() {
  var opts = {
    center: new gm.LatLng(JAKARTA[0], JAKARTA[1]),
    zoom: 13,
    minZoom: 12,
    mapTypeId: gm.MapTypeId.ROADMAP,
    streetViewControl: false,
    draggableCursor: 'crosshair',
    styles: [{
      featureType: 'poi',
      elementType: 'labels',
      stylers: [{
        visibility: 'off'
      }]
    }]
  }
  var target = document.getElementById('map');
  map = new gm.Map(target, opts);

  geocoder = new gm.Geocoder();
}

function initSearch() {
  $('.search input').keyup(function(e) {
    if (e.keyCode === 13) {
      search();
    }
  });
  $('.search button').click(function() {
    search();
  });
}

function submit() {
  var pathData = [];
  for (var i=0; i<path.getLength(); i++) {
    var pos = path.getAt(i);
    pathData.push(pos.lat())
    pathData.push(pos.lng());
  }
  pathData = pathData.join('|')

  var data = {type: $('#type').val(),
              name: $('#name').val(),
              origin: $('#origin').val(),
              destination: $('#destination').val(),
              path: pathData}

  console.log('submit', data);
  $.ajax({
    url: 'submit/',
    data: data,
    dataType: 'json',
    method: 'post',
    success: function(d) {
      console.log(d);
    }
  });
}

function checkForm() {
  $('.direction .control-group').removeClass('error');
  $('.direction .control-group.name .help-block').hide();

  var name = $('#name').val().trim();
  console.log('['+name+']');
  if (name !== '') {
    return true;
  }

  $('.direction .control-group.name').addClass('error');
  $('#name').focus();
  $('.direction .control-group.name .help-block').show();
  return false;
}

function initAction() {
  $('#btn-submit').tooltip();
  $('#btn-submit').click(function() {
    if (checkForm()) {
      $('#confirmation .info').show();
      $('#license-info').hide();
      $('#confirmation').modal();
    }
  });

  $('#confirmation .modal-footer .cancel').click(function() {
    $('#confirmation').modal('hide');
  });
  $('#confirmation .modal-footer .submit').click(function() {
    submit();
    $('#confirmation').modal('hide');
  });

  $('#confirmation .info').click(function() {
    $(this).hide();
    $('#license-info').show();
  });
}

function init() {
  initMap();
  initPathEditor();
  initSearch();
  initAction();
}

$(window).ready(function() {
  init();
});

</script>
</body></html>
