{% load staticfiles %}
<!DOCTYPE html>
<html><head>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'/>
<link href='{% static "bootstrap/css/bootstrap.min.css" %}' rel='stylesheet' type='text/css'/>
<style type="text/css">
* {
  margin: 0px; padding: 0px;
  font-family: Roboto, Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
body, html {
  margin: 0px; padding: 0px; height: 100%; width: 100%;
}
#map {
  margin: 0px; padding: 0px; height: 100%;
  margin-left: 250px;
}
#control {
  position: absolute;
  width: 230px;
  height: 100%;
  padding: 0 10px;
  overflow: auto;
}
#control .c {
  padding: 10px 0;
}

#control .sec {
  margin-bottom: 20px;
}
#control .w {
  margin-bottom: 5px;
}
.direction label {
  display: block;
  margin-bottom: 0px;
}
.direction .control-group {
  margin-bottom: 0px;
}
.direction .control-group.error {
  margin-bottom: 10px;
}

#confirmation .modal-footer .info {
  margin-right: 20px;
}

#map img {
  max-width: none;
}
</style>
</head><body>

<div id="control"><div class="c">

<div class="search sec input-append">
  <input class="w input-medium" type="text" id="search" placeholder="Cari lokasi" />
  <button class="btn" type="button">Cari</button>
</div>

<div class="direction sec">
  <div class="control-group type">
    <label for="type">Jenis angkutan</label>
    <input class="w" type="text" id="type" title="Kopaja, Metromini, Mikrolet, ..."/>
  </div>
  <div class="control-group name">
    <label for="name">Nomor angkutan <i class="icon-hand-left"></i></label>
    <input class="w" type="text" id="name" title="S616, 75, M17, ..."/>
    <span class="help-block hide">Nomor angkutan perlu diisi.</span>
  </div>
  <div class="control-group origin">
    <label for="origin">Lokasi keberangkatan</label>
    <input class="w" type="text" id="origin" title="Cipedak, Pasar Minggu, Pasar Lenteng Agung, ..."/>
  </div>
  <div class="control-group destination">
    <label for="destination">Tujuan</label>
    <input class="w" type="text" id="destination" title="Blok M, Pasar Minggu, ..."/>
  </div>
</div>

<div class="info sec">
  <p>Panjang jalur: <span id="path-length">0 m</span></p>
</div>

{% if editable %}
<div class="action sec">
  <a href="#confirmation" class="btn btn-primary" id="btn-submit" title="Kontribusikan jalur yang Anda buat">Kirim</a>
</div>
{% endif %}

</div></div>

<div id="map"></div>

<div class="modal hide fade" id="confirmation" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pernyataan</h3>
  </div>
  <div class="modal-body">
    <p>Dengan ini saya setuju untuk melisensikan data jalur yang saya kirim
  dengan lisensi <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported</a>.</p>
    <p class="info"><a href="#">Informasi lebih lanjut &rarr;</a></p>
    <div id="license-info" class="hide">
      <p>Siapapun bisa dengan bebas untuk:</p>
      <ul>
      <li>membagikan data Anda ke siapapun, dan</li>
      <li>mengadaptasi data dengan keperluan lain.</li>
      </ul>
      <p>Asalkan:</p>
      <ul>
      <li>harus memberikan keterangan sumber data (Anda dan kontributor lain),</li>
      <li>tidak untuk kepentingan komersial, dan</li>
      <li>jika mengubah data, maka hasil ubahan harus dapat didistribusikan
          dengan lisensi yang sama dengan data ini.</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn cancel">batal</a>
    <a href="#" class="btn btn-primary submit">setuju dan kirim</a>
  </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false&libraries=geometry"></script>
<script src="{% static "js/route-editor.js" %}"></script>
<script type="text/javascript">

var JAKARTA = [-6.1744444, 106.8294444],
    editor = undefined,
    gm = google.maps;

// using jQuery
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
  crossDomain: false, // obviates need for sameOrigin test
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type)) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});

if(!String.prototype.trim) {
  String.prototype.trim = function () {
    return this.replace(/^\s+|\s+$/g,'');
  };
}

function search() {
  var q = $('#search').val();
  if (q.length === 0) return;

  var address = q + ', Jakarta, Indonesia';
  editor.search(address);

  $('#search').focus();
}

function updatePathInfo() {
  var distance = editor.getPathLength();
  var format = function(val) {
    return Math.round(val * 100) / 100;
  }
  if (distance < 5000) {
    $('#path-length').text(format(distance) + ' m');
  }
  else {
    distance = distance / 1000;
    $('#path-length').text(format(distance) + ' km');
  }
}

function initRouteEditor() {
  var opts = {
    center: new gm.LatLng(JAKARTA[0], JAKARTA[1]),
    zoom: 13,
    minZoom: 12,
    mapTypeId: gm.MapTypeId.ROADMAP,
    streetViewControl: false,
    draggableCursor: 'crosshair',
    styles: [{
      featureType: 'poi',
      elementType: 'labels',
      stylers: [{
        visibility: 'off'
      }]
    }]
  }
  var target = document.getElementById('map');
  editor = new RouteEditor(target, opts);

  editor.pathUpdated(updatePathInfo);
}

function initSearch() {
  $('.search input').keyup(function(e) {
    if (e.keyCode === 13) {
      search();
    }
  });
  $('.search button').click(function() {
    search();
  });
}

function submit() {
  var pathData = {
    type: "LineString",
    coordinates: []
  }
  var path = editor.path.data;
  for (var i=0; i<path.getLength(); i++) {
    var pos = path.getAt(i);
    pathData.coordinates.push([pos.lng(), pos.lat()]);
  }

  var data = {type: $('#type').val(),
              name: $('#name').val(),
              origin: $('#origin').val(),
              destination: $('#destination').val(),
              data: JSON.stringify(pathData)}

  console.log('submit', data);
  $.ajax({
    url: 'submit/',
    data: data,
    dataType: 'json',
    method: 'post',
    success: function(d) {
      console.log(d);
    }
  });
}

function checkForm() {
  $('.direction .control-group').removeClass('error');
  $('.direction .control-group.name .help-block').hide();

  var name = $('#name').val().trim();
  console.log('['+name+']');
  if (name !== '') {
    return true;
  }

  $('.direction .control-group.name').addClass('error');
  $('#name').focus();
  $('.direction .control-group.name .help-block').show();
  return false;
}

function initAction() {
  var opts = {placement: 'right', container: 'body', trigger: 'hover focus'};
  $('#type').tooltip(opts);
  $('#name').tooltip(opts);
  $('#origin').tooltip(opts);
  $('#destination').tooltip(opts);

  $('#btn-submit').tooltip();
  $('#btn-submit').click(function() {
    if (checkForm()) {
      $('#confirmation .info').show();
      $('#license-info').hide();
      $('#confirmation').modal();
    }
    return false;
  });

  $('#confirmation .modal-footer .cancel').click(function() {
    $('#confirmation').modal('hide');
  });
  $('#confirmation .modal-footer .submit').click(function() {
    submit();
    $('#confirmation').modal('hide');
  });

  $('#confirmation .info').click(function() {
    $(this).hide();
    $('#license-info').show();
  });
}

function applyData(data) {
  if (data.type) $('#type').val(data.type);
  if (data.name) $('#name').val(data.name);
  if (data.origin) $('#origin').val(data.origin);
  if (data.destination) $('#destination').val(data.destination);
  if (data.data) {
    var m = data.data;
    if (m.type && m.type === 'LineString' && m.coordinates) {
      var coords = m.coordinates,
          len = coords.length;

      var path = []
      for (var i=0; i<len; i++) {
        var x = coords[i][0],
            y = coords[i][1];
        path.push(new gm.LatLng(y, x));
      }
      editor.setPath(path);
    }
  }
}

function loadData() {
  var url = 'data.json';
  $.ajax({
    url: url,
    method: 'get',
    dataType: 'json',
    success: function(data) {
      applyData(data);
{% if editable %}
      editor.setEditable(true);
{% endif %}
    }
  });
}

function init() {
  initRouteEditor();
  initSearch();
  initAction();
  loadData();
}

$(window).ready(function() {
  init();
});

</script>
</body></html>
