{% extends "route/base.html" %}
{% load staticfiles %}

{% block tag-html %}<html ng-app="AngkotRoute">{% endblock %}

{% block title %}Peta Angkutan Umum{% endblock %}

{% block extrastyles %}
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
<!--[if lte IE 8]>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static "dist/css/route.css" %}"/>
{% endblock %}

</head>

{% block tag-body %}
<body ng-controller="MainController" ng-init="init()"
      data-mapbox-key="{{ MAPBOX_KEY }}"
      data-bing-maps-key="{{ BING_MAPS_KEY }}"
      data-url-contributor-terms="{{ ANGKOT_CONTRIBUTOR_TERMS_URL }}"
      data-url-province-list="{% url "route_province_list" %}"
      data-url-submission-list="{% url "route_submission_list" %}"
      data-url-transportation-list="{% url "route_transportation_list" %}"
      data-url-transportation-data="{% url "route_transportation_data" 0 %}"
      data-url-new-transportation="{% url "route_index" %}"
      data-url-transportation-data-save="{% url "route_transportation_data_save" 0 %}"
      data-url-account-info="{% url "account_info" %}">
{% csrf_token %}
{% endblock %}

{% block extrahead %}
  <div class="menu" ng-controller="MenuController">
    <ul>
    <li><a href="" ng-click="showAbout()">Apa ini?</a></li>
    <li><a href="" ng-click="showContact()">Kontak</a></li>
    <li ng-hide="user"><a href="" ng-click="showLogin()">Login</a></li>
    <li ng-show="user">
      <a ng-show="user.first_name" href="" ng-bind="user.first_name"></a>
      <a ng-hide="user.first_name" href="" ng-bind="user.username"></a>
    </li>
    </ul>
  </div>
  <div class="search">
    <input type="text" name="q" placeholder="Cari Lokasi" class="search"
           ng-model="searchQuery" ng-enter="search()"/><button name="go" ng-click="search()" class="btn"><i class="icon-search"></i></button>
  </div>
{% endblock %}

{% block content %}
<div style="display:none" ng-include="'{% static "partial/modal-content.html" %}'"></div>

<modal data="modal"></modal>

<angkot-map id="map" mapbox-key="mapboxKey" bing-maps-key="bingMapsKey" map-data="map"
            onroutechange="onRouteChanged()" onrouteeditclick="onRouteEditClicked()"></angkot-map>

<div style="display:none" id="login-content">
  <h2>Login</h2>
  <div class="content"><div class="compile login-form">
    <p>Silakan login dengan menggunakan salah satu akun berikut.</p>
    <ul>
    <li><a ng-click="popupLoginWindow($event, loginSource); $event.preventDefault()"
           href="{% url "socialauth_begin" "google-oauth2" %}?ao=route"><img title="Google" src="{% static "img/google.png" %}"/></a></li>
    <li><a ng-click="popupLoginWindow($event, loginSource); $event.preventDefault()"
           href="{% url "socialauth_begin" "facebook" %}?ao=route"><img title="Facebook" src="{% static "img/facebook.png" %}"/></a></li>
    <li><a ng-click="popupLoginWindow($event, loginSource); $event.preventDefault()"
           href="{% url "socialauth_begin" "twitter" %}?ao=route"><img title="Twitter" src="{% static "img/twitter.png" %}"/></a></li>
    </ul>
    <p>Informasi pribadi Anda akan dilindungi sepenuhnya. Silakan baca juga
        <a href="{{ ANGKOT_PRIVACY_POLICY_URL }}" target="angkot_privacy_policy">kebijakan privasi</a>
        angkot.web.id.
    </p>
  </div></div>
</div>

<div class="sidepanel" ng-cloak>
  <!--
  <div class="nav">
  <ul>
  <li ng-class="{'active':panel=='transportation-list'}" ng-click="showPanel('transportation-list')">Angkutan Umum</i>
  <li ng-class="{'active':panel=='data-form'}" ng-click="showPanel('data-form')">Buat Rute</i>
  <li ng-class="{'active':panel=='submission-list'}" ng-click="showPanel('submission-list')">Daftar Kiriman</i>
  </ul>
  </div>
  -->

  <!-- new transportation -->
  <div id="new-transportation" ng-show="panel=='transportation-list'">
  <p>
    <button class="btn btn-green"
            ng-click="newTransportion()"><span ng-hide="user">Login dan</span> Tambah Angkutan Baru</button>
  </p>
  <div style="display:none" id="new-transportation-modal">
    <h2>Angkutan Baru</h2>
    <div class="content">
      <div class="compile new-transportation-form"
           ng-controller="NewTransportationController">
        <p>
          <label>Provinsi</label>
          <select name="province" ng-model="province" ng-options="p[0] as p[1] for p in provinces"
                  ng-class="{'error': checked && !province}"></select>
        </p>
        <p>
          <label>Kota</label>
          <input name="city" type="text" placeholder="Jakarta, Bandung, ..." maxlength="256"
                 ng-model="city" ng-class="{'error': checked && !city}"/>
        </p>
        <p>
          <label>Perusahaan dan Nomor Angkutan</label>
          <input name="company" type="text" placeholder="Kopaja, Mikrolet, ..." maxlength="256"
                 ng-model="company"/><input name="number" type="text" maxlength="64"
                                            ng-model="number" ng-class="{'error': checked && !number}"/>
        </p>
        <p class="term-agreement">
          <input type="checkbox" name="term-agreement" id="term-agreement"
                 ng-model="termAgreement" ng-class="{'error': checked && !termAgreement}"/>
          <label for="term-agreement">setuju dengan
            <a ng-href="((contributorTermsUrl))" target="angkot-contribution-terms">ketentuan kontribusi data</a></label>
        </p>
        <p ng-show="incomplete" class="incomplete error">
          Harap minimal isi
            <strong ng-class="{'ok':province}">provinsi</strong>,
            <strong ng-class="{'ok':city}">nama kota</strong>,
            <strong ng-class="{'ok':number}">nomor angkutan</strong>, dan
            <strong ng-class="{'ok':termAgreement}">persetujuan ketentuan kontribusi data</strong>
        </p>
        <p class="action">
          <button class="btn save" ng-click="saveCheck()">Simpan</button>
        </p>
      </div>
    </div>
  </div>
  </div>
  <!-- // new transportation -->

  <!-- transportation list -->
  <div class="content" id="transportation-list" ng-show="panel=='transportation-list'"
       ng-controller="TransportationListController" ng-init="init()">
    <div ng-show="loading">
      <p>loading..</p>
    </div>
    <div ng-hide="loading">
      <div class="city" ng-repeat="city in groups">
        <h2 ng-bind="city.name"></h2>
        <ul class="companies">
        <li class="company" ng-repeat="company in city.companies">
          <span class="company" ng-bind="company.name" ng-show="company.name"></span>
          <ul class="transportations">
          <li class="number" ng-repeat="t in company.items">
            <a href="" ng-class="{route:t.hasRoute}" ng-click="showTransportation(t)" ng-bind="t.number"></a>
          </li>
          </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- data form -->
  <div class="content" id="data-form" ng-show="panel=='data-form'" ng-controller="DataFormController" ng-init="init()">
  <div class="action">
    <a href="" ng-click="goToListCheck()"><i class="icon-long-arrow-left"></i> daftar angkutan</a>
  </div>
  <div class="loading" ng-show="loading">
    <p>loading..</p>
  </div>
  <div ng-hide="loading">
  <label>Provinsi</label>
  <select name="province" ng-model="info.province" ng-options="p[0] as p[1] for p in provinces"
          ng-class="{'error': checked && !info.province}"></select>
  <label>Kota</label>
  <input name="city" type="text" placeholder="Jakarta, Bandung, ..." maxlength="256"
         ng-model="info.city" ng-class="{'error': checked && !info.city}"/>
  <label>Perusahaan dan Nomor Angkutan</label>
  <input name="company" type="text" placeholder="Kopaja, Mikrolet, ..." maxlength="256"
         ng-model="info.company"/><input name="number" type="text" maxlength="64"
                                         ng-model="info.number" ng-class="{'error': checked && !info.number}"/>
  <label>Lokasi Keberangkatan</label>
  <input name="origin" type="text" placeholder="Blok M, Pasar Minggu, ..." maxlength="256"
         ng-model="info.origin"/>
  <label>Jurusan/Lokasi Akhir</label>
  <input name="destination" type="text" placeholder="Depok, Kampung Melayu, ..." maxlength="256"
         ng-model="info.destination"/>

  <p class="term-agreement">
    <input type="checkbox" name="term-agreement" id="term-agreement-data-form"
           ng-model="termAgreement" ng-class="{'error': checked && !termAgreement}"/>
    <label for="term-agreement-data-form">setuju dengan
      <a ng-href="((contributorTermsUrl))" target="angkot-contribution-terms">ketentuan kontribusi data</a></label>
  </p>
  <div>
    <!--
    <p style="float:left" ng-show="modified" class="reset"><a href="" ng-click="resetMapCheck()">ulangi dari awal</a></p>
    -->
    <p style="text-align:right"><button class="btn btn-green" ng-click="saveRouteCheck()">
      <i class="icon-ok-sign"></i> Simpan</button></p>
  </div>
  <p ng-show="message" ng-bind="message" class="message"></p>
  <p ng-show="error" ng-bind="error" class="error"></p>
  <p ng-show="incomplete" class="incomplete error">
    Harap minimal isi
      <strong ng-class="{'ok':info.province}">provinsi</strong>,
      <strong ng-class="{'ok':info.city}">nama kota</strong>,
      <strong ng-class="{'ok':info.number}">nomor angkutan</strong>, dan
      <strong ng-class="{'ok':termAgreement}">persetujuan ketentuan kontribusi data</strong>
  </p>
  <p class="mapquest-nominatim">Nominatim Search Courtesy of<br/>
    <a href="//www.mapquest.com/" target="_blank">MapQuest</a>
    <img src="//developer.mapquest.com/content/osm/mq_logo.png"/></p>
  </div>
  </div>
  <!-- // data form -->

  <!-- submission list -->
  <div class="content" id="submission-list"
       ng-show="panel=='submission-list'" ng-controller="SubmissionListController" ng-init="init()">
    <div class="loading" ng-show="loading">
      <p>loading..</p>
    </div>
    <div ng-hide="loading">
      <div class="route" ng-repeat="route in submissions" ng-click="showRoute(route)"
           ng-class="{'active':route==active}">
        <p><span class="date" ng-bind="route.created * 1000 | date"></span></p>
        <p><span class="city" ng-bind="route.geojson.properties.city"></span> &ndash;
          <span class="company" ng-show="route.geojson.properties.company" ng-bind="route.geojson.properties.company"></span>
          <span class="number" ng-bind="route.geojson.properties.number"></span></p>
        <p ng-show="route.geojson.properties.origin || route.geojson.properties.destination">
          <span class="origin" ng-show="route.geojson.properties.origin" ng-bind="route.geojson.properties.origin"></span>
          &mdash;
          <span class="destination" ng-show="route.geojson.properties.destination" ng-bind="route.geojson.properties.destination"></span>
        </p>
      </div>
    </div>
  </div>
  <!-- // submission list -->
</div>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.min.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<script type="text/javascript" src="{% url "route_province_list_js" %}"></script>
{% if debug %}
<script type="text/javascript" src="{% static "js/Leaflet.Tooltip.js" %}"></script>
<script type="text/javascript" src="{% static "js/Leaflet.Control.TransportationInfo.js" %}"></script>
<script type="text/javascript" src="{% static "js/Leaflet.Polyline.Editable.js" %}"></script>
<script type="text/javascript" src="{% static "js/Leaflet.Angkot.js" %}"></script>
<script type="text/javascript" src="{% static "js/Leaflet.Angkot.Route.js" %}"></script>
<script type="text/javascript" src="{% static "js/Bing.js" %}"></script>
<script type="text/javascript" src="{% static "js/modal.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-map.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-filter.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route-menu.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route-main.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route-newtransportation.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route-transportationlist.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route-dataform.js" %}"></script>
<script type="text/javascript" src="{% static "js/angkot-route-submissionlist.js" %}"></script>
{% else %}
<script type="text/javascript" src="{% static "dist/js/route.min.js" %}"></script>
{% endif %}
{% if USERVOICE_CODE %}
{{ USERVOICE_CODE | safe }}
{% endif %}
{% endblock %}

