{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="AngkotRouteEditor"><head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{% static "css/page.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/route.css" %}"/>
</head><body ng-controller="MainController" ng-init="init()"
             data-url-save="{% url "route_index" %}">

<div id="head">
  <h1>Peta Angkutan Umum</h1>
  <div class="menu" ng-controller="MenuController">
    <ul>
    <li><a href="" ng-click="showAbout()">Apa ini?</a></li>
    <li><a href="" ng-click="showContact()">Kontak</a></li>
    <!--
    <li><a href="">Login</a></li>
    -->
    </ul>
  </div>
  <!--
  <div class="search">
    <input type="text" name="q" placeholder="Cari Rute" class="search"/><button name="go"><i class="icon-search"></i></button>
  </div>
  <div class="new-route">
    <button><i class="icon-plus-sign"></i> Buat Rute</button>
  </div>
  -->
</div>

<modal show="modal.show" title="modal.title" content="modal.content"></modal>

<angkot-map id="map" center="center" zoom="zoom" routes="routes"></angkot-map>

<div class="sidepanel full">
  <!--
  <div class="close">&times;</div>
  -->

  <div id="buat-rute" ng-controller="SubmissionController" ng-init="init()">
  <h2>Buat Rute</h2>{% csrf_token %}
  <label>Kota</label>
  <input name="city" type="text" placeholder="Jakarta, Bandung, ..."
         ng-model="city"/>
  <label>Perusahaan dan Nomor Angkutan</label>
  <input name="company" type="text" placeholder="Kopaja, Mikrolet, ..."
         ng-model="company"/><input name="number" type="text" ng-model="number"/>
  <label>Lokasi Keberangkatan</label>
  <input name="origin" type="text" placeholder="Blok M, Pasar Minggu, ..."
         ng-model="origin"/>
  <label>Jurusan</label>
  <input name="destination" type="text" placeholder="Depok, Kampung Melayu, ..."
         ng-model="destination"/>

  <p class="license-agreement">
    <input type="checkbox" name="license-agreement" id="license-agreement" ng-model="licenseAgreement"/>
    <label for="license-agreement">menggunakan lisensi
      <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.id" target="_blank" title="Creative Commons Attribution-ShareAlike 3.0 Unported">CC BY-SA</a></label>
  </p>
  <p style="text-align:right"><button class="save" ng-click="saveRouteCheck()"><i class="icon-ok-sign"></i> Simpan Rute</button></p>
  <p ng-show="message" ng-bind="message" class="message"></p>
  <p ng-show="error" ng-bind="error" class="error"></p>

  <div class="path-info" ng-show="pathInfo.length">
    <p class="start" ng-show="pathInfo.start" ng-bind="pathInfo.start.place"></p>
    <p class="arrow" ng-show="pathInfo.start && pathInfo.end"><i class="icon-long-arrow-down"></i></p>
    <p class="length"><span ng-bind="pathInfo.length | lengthUnit"></span></p>
    <p class="arrow" ng-show="pathInfo.start && pathInfo.end"><i class="icon-long-arrow-down"></i></p>
    <p class="end" ng-show="pathInfo.end" ng-bind="pathInfo.end.place"></p>
  </div>

  </div>

</div>

<script type="text/javascript" src="{% static "js/map-config.js" %}"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script type="text/javascript">
document.writeln('<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key='+GOOGLE_MAPS_KEY+'&sensor=true&libraries=geometry"></'+'script>');
</script>
<script type="text/javascript" src="{% static "js/route.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-map-tooltip.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-map-editor.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-filters.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-map-element.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-main.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-menu.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-submission.js" %}"></script>
<script type="text/javascript" src="{% static "js/app-modal.js" %}"></script>
</body></html>

