{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="AngkotRouteEditor"><head>
<title>Peta Angkutan Umum</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{% static "css/page.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/route.css" %}"/>
</head><body ng-controller="MainController" ng-init="init()"
             data-url-save="{% url "route_index" %}">

<div id="head">
  <h1>Peta Angkutan Umum</h1>
  <div class="alpha"><a href="https://github.com/fajran/angkot" target="_blank">alpha!</a></div>
  <div class="menu" ng-controller="MenuController">
    <ul>
    <li><a href="" ng-click="showAbout()">Apa ini?</a></li>
    <li><a href="" ng-click="showContact()">Kontak</a></li>
    <!--
    <li><a href="">Login</a></li>
    -->
    </ul>
  </div>
  <div class="search">
    <input type="text" name="q" placeholder="Cari Lokasi" class="search"
           ng-model="searchQuery" ng-enter="search()"/><button name="go" ng-click="search()" class="btn"><i class="icon-search"></i></button>
  </div>
  <!--
  <div class="new-route">
    <button><i class="icon-plus-sign"></i> Buat Rute</button>
  </div>
  -->
</div>

<div style="display:none">
  <div id="about-content">
    <h2>Apa ini?</h2>
    <div class="content">
      <p>Misi dari situs ini adalah mengumpulkan seluruh rute/trayek
      angkutan umum yang ada di Indonesia dan menjadi tempat rujukan
      alternatif pencarian rute.</p>
      <p>Situs ini dibuat seperti <a href="http://www.wikipedia.org" target="_blank">Wikipedia</a>
      dan <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a>
      sehingga siapapun dapat ikut serta memasukkan dan menyempurnakan
      data yang ada. Data rute yang dikumpulkan bersifat terbuka dan
      dapat digunakan untuk kepentingan apa saja, selama sesuai dengan
      <a href="http://opendatacommons.org/licenses/odbl/summary/" target="_blank">ketentuan penggunaan data</a>.</p>
    </div>
  </div>
  <div id="contact-content">
    <h2>Kontak</h2>
    <div class="content">
      <p>Jika Anda memiliki saran, kritik, pertanyaan, menemukan masalah,
      atau yang lain, silakan hubungi:</p>
      <p class="contact vcard">
        <span class="fn">Fajran Iman Rusadi</span><br/>
        <i class="icon-envelope"></i> <a target="_blank" class="email" href="mailto:kontak@angkot.web.id">kontak@angkot.web.id</a><br/>
        <i class="icon-twitter"></i> <a target="_blank" class="url" href="http://twitter.com/fajran">@fajran</a>
      </p>
      <p>Kode dari aplikasi ini tersedia di GitHub<br/>
        <i class="icon-github-alt"></i> <a target="_blank" href="https://github.com/fajran/angkot">https://github.com/fajran/angkot</a>
      </p>
    </div>
  </div>
  <div id="license-info-content">
    <h2>Lisensi Data</h2>
    <div class="content">
      <p>Situs ini bertujuan untuk mengumpulkan data kolektif yang
      bersifat terbuka. Oleh karena itu, data yang dikumpulkan harus
      diberi dengan lisensi yang memungkinkan hal tersebut.</p>
      <p>Lisensi yang kami pilih adalah
      <a href="http://opendatacommons.org/licenses/odbl/1-0/">Open Database License (ODbL) v1.0</a>
      (<a href="http://wiki.openstreetmap.org/wiki/Open_Database_License">ringkasan</a>),
      sama dengan seperti yang digunakan oleh
      <a href="http://wiki.openstreetmap.org/wiki/Open_Database_License">OpenStreetMap</a>.</p>
      <p>Dengan lisensi ini Anda dapat dengan bebas menyalin, mengumumkan,
      menyebarkan, dan mengadaptasi data yang ada selama Anda memberikan
      atribusi terhadap situs ini dan kontributornya. Jika anda mengubah,
      mengalihrupakan, atau membuat sesuatu berdasarkan data yang ada,
      Anda harus mengumumkan yang Anda buat dengan lisensi yang sama atau
      sejenis dengan lisensi ini.</p>
    </div>
  </div>
</div>

<modal show="modal.show" title-text="modal.title" content-html="modal.content"></modal>

<angkot-map id="map" center="map.center" zoom="map.zoom" routes="map.routes" viewport="map.viewport"></angkot-map>

<div class="sidepanel" ng-cloak>
  <div class="nav">
  <ul>
  <li class="active">Buat Rute</i>
  <!--
  <li>Riwayat Pengiriman</i>
  <li>Feedback</i>
  -->
  </ul>
  </div>

  <div id="editor" ng-controller="SubmissionController" ng-init="init()">
  {% csrf_token %}
  <label>Kota</label>
  <input name="city" type="text" placeholder="Jakarta, Bandung, ..." maxlength="256"
         ng-model="city" ng-class="{'error': checked && !city}"/>
  <label>Perusahaan dan Nomor Angkutan</label>
  <input name="company" type="text" placeholder="Kopaja, Mikrolet, ..." maxlength="256"
         ng-model="company"/><input name="number" type="text" maxlength="64"
                                    ng-model="number" ng-class="{'error': checked && !number}"/>
  <label>Lokasi Keberangkatan</label>
  <input name="origin" type="text" placeholder="Blok M, Pasar Minggu, ..." maxlength="256"
         ng-model="origin"/>
  <label>Jurusan/Lokasi Akhir</label>
  <input name="destination" type="text" placeholder="Depok, Kampung Melayu, ..." maxlength="256"
         ng-model="destination"/>

  <p class="license-agreement">
    <input type="checkbox" name="license-agreement" id="license-agreement"
           ng-model="licenseAgreement" ng-class="{'error': checked && !licenseAgreement}"/>
    <label for="license-agreement">menggunakan lisensi
      <a href="" title="Open Database License (ODbL) v1.0"
         ng-click="showLicense(); $event.stopPropagation();">ODbL v1.0</a></label>
  </p>
  <div>
    <p style="float:left" ng-show="modified" class="reset"><a href="" ng-click="resetMapCheck()">ulangi dari awal</a></p>
    <p style="text-align:right"><button class="btn btn-green" ng-click="saveRouteCheck()"><i class="icon-ok-sign"></i> Simpan Rute</button></p>
  </div>
  <p ng-show="message" ng-bind="message" class="message"></p>
  <p ng-show="error" ng-bind="error" class="error"></p>
  <p ng-show="incomplete" class="incomplete error">
    Harap minimal isi
      <strong ng-class="{'ok':city}">nama kota</strong>,
      <strong ng-class="{'ok':number}">nomor angkutan</strong>, dan
      <strong ng-class="{'ok':licenseAgreement}">persetujuan lisensi</strong>
  </p>
  </div>

</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=true&libraries=geometry"></script>
<script type="text/javascript" src="{% static "js/route.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-map-tooltip.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-map-editor.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-filters.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-map-element.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-main.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-menu.js" %}"></script>
<script type="text/javascript" src="{% static "js/route-app-submission.js" %}"></script>
<script type="text/javascript" src="{% static "js/app-modal.js" %}"></script>

{% if GOOGLE_ANALYTICS_ID %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GOOGLE_ANALYTICS_ID }}', '{{ GOOGLE_ANALYTICS_HOST }}');
  ga('send', 'pageview');
</script>
{% endif %}
</body></html>

