<!DOCTYPE html>
<html ng-app="angkot-route-drawing"><head>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
<link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css' rel='stylesheet' />
<link href='/static/css/osm.css' rel='stylesheet' />
</head><body ng-controller="EditorController" ng-init="init()">

<div id="side">
  <div class="rlist"
       ng-show="activeSubmission"
       ng-controller="SubmissionController" ng-init="init()">
    <p><span ng-bind="provinceNames[meta.province]"></span>,
       <span ng-bind="meta.city"></span>
    </p>
    <p><span ng-bind="meta.company"></span> <span ng-bind="meta.number"></span></p>
    <p>Routes: <span ng-bind="paths.length"></span></p>
    <ul>
    <li ng-repeat="(key, path) in paths">
      <input type="checkbox" ng-model="visible[key]"/>
      <span ng-bind="'Route ' + key"></span>
      &rarr; <span ng-bind="path.length + ' points'"></span>
    </li>
    </ul>
  </div>

  <hr/>

  <div class="slist"
       ng-controller="SubmissionListController" ng-init="init()">
    <div ng-repeat="cityKey in cityKeyList">
      <h2 ng-bind="dataTree[cityKey].city"></h2>
      <ul>
        <li ng-repeat="company in dataTree[cityKey].companyNames">
          <span ng-show="company"><span ng-bind="company"></span> &ndash;</span>
          <span class="t"
                ng-repeat="id in dataTree[cityKey].companies[company].items">
            <a href=""
               ng-bind="data[id].number"
               ng-click="show(id)"></a>
          </span>
        </li>
      </ul>
    </div>
  </div>

</div>
<div id="map"></div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.js'></script>
<script src='/static/js/route-finder.js'></script>
<script src='/static/js/osm.js'></script>
<script src='/static/js/route-drawing.js'></script>
<script>

var map,
    JAKARTA = [-6.292606, 106.838694],
    CX = JAKARTA[1],
    CY = JAKARTA[0],
    MapBoxId = '{{ MAPBOX_KEY }}',
    finder,
    osm;

function start() {
  map = L.mapbox.map('map', MapBoxId);
  map.setView(L.latLng(CY, CX), 15);

  var a, b;
  var lastNode = undefined;
  var nextNode = undefined;

  var url = 'http://localhost:8000/osm/data/{z}/{x}/{y}.json';
  osm = new L.OSMDataLayer(url);

  var layerPath = L.polyline([], {color: 'blue', opacity: 0.8});
  layerPath.addTo(map);
  var layerShow = L.polyline([], {color: 'yellow', opacity: 0.75, weight: 10});
  layerShow.addTo(map);

  var addPath = function(path) {
    var latlngs = layerPath.getLatLngs();
    for (var i=0; i<path.length; i++) {
      latlngs.push(osm.nodes[path[i]]);
    }
    layerPath.setLatLngs(latlngs);
  }

  var showPath = function(path) {
    var latlngs = layerShow.getLatLngs();
    latlngs.splice(0, latlngs.length);
    for (var i=0; i<path.length; i++) {
      latlngs.push(osm.nodes[path[i]]);
    }
    layerShow.setLatLngs(latlngs);
  }

  var showNextPath = _.debounce(function() {
    if (nextNode === undefined) return;
    var path = finder.findRoute(lastNode, nextNode);
    console.log('show', lastNode, nextNode, path);
    showPath(path);
  }, 250);

  var clearShowPath = _.debounce(function() {
    if (nextNode !== undefined) return;
    showPath([]);
  }, 1000);

  osm.on('osm:way:mouseenter', function(e) {
    e.e.target.classList.add('hover');
  });
  osm.on('osm:way:mouseout', function(e) {
    e.e.target.classList.remove('hover');
  });
  osm.on('osm:node:mouseenter', function(e) {
    e.e.target.setAttribute('r', 5);
    nextNode = e.nodeId;
    showNextPath();
  });
  osm.on('osm:node:mouseout', function(e) {
    e.e.target.setAttribute('r', 3);
    nextNode = undefined;
    clearShowPath();
  });

  osm.on('osm:node:click', function(e) {
    if (lastNode === undefined) {
      lastNode = e.nodeId;
      return;
    }

    var currNode = e.nodeId;
    var path = finder.findRoute(lastNode, currNode);
    console.log('add', lastNode, currNode, path);
    addPath(path);
    lastNode = currNode;
    nextPath = undefined;
    showPath([]);
  });

  map.addLayer(osm);

  finder = new RouteFinder();

  osm.on('osm:way:reset', function() {
    finder.reset();
  });
  osm.on('osm:way:add', function(e) {
    finder.addWay(e.wayId, e.way, e.pos);
  });
  osm.on('osm:way:remove', function(e) {
    finder.removeWay(e.wayId);
  });
}

function selectNodes(nodeList) {
  for (var i=0; i<nodeList.length; i++) {
    var id = nodeList[i];
    var circle = document.querySelectorAll('circle[data-node-id="'+id+'"]');
    if (circle.length == 0) continue;
    var c = circle[0];
    c.classList.add('selected');
  }
}

function resetNodes() {
  var items = document.querySelectorAll('circle');
  for (var i=0; i<items.length; i++) {
    items[i].classList.remove('selected');
  }
}

$(document).ready(function() {
  start();
});

</script>
</body></html>
