<div class="contributor-terms summary">
<ul>
<li>Jangan memasukkan data yang tidak boleh Anda kirim. Data yang dikirim harus
    berasal dari karya Anda sendiri atau sesuatu yang jelas perizinan
    penggunaannya.</li>

<li>Anda tetap memiliki data yang Anda kirim. Dengan kata lain, Anda tetap dapat
    menggunakannya di tempat lain.</li>

<li>Anda mengizinkan angkot.web.id untuk mempublikasikan data yang Anda kirim
    sebagai bagian dari keseluruhan data yang ada di angkot.web.id, yang dapat
    digunakan oleh orang lain.</li>

<li>angkot.web.id hanya boleh mempublikasikan data di bawah lisensi bebas dan
    terbuka. Jika tidak, maka angkot.web.id telah mengingkari perjanjian dengan
    Anda.</li>

<li>Lisensi yang saat ini dipakai adalah Open Database License 1.0.</li>

<li>angkot.web.id hanya dapat mengubah lisensi dengan lisensi yang bebas dan
    terbuka lainnya jika disetujui oleh mayoritas (2/3) kontributor aktif.
    Kontributor aktif adalah kontributor yang pernah mengirimkan data dalam
    12 bulan terakhir dan dapat menjawab e-mail dalam waktu 3 minggu.</li>

<li>Jika Anda menginginkan atribusi, silakan daftarkan nama Anda dalam halaman
    kontributor.</li>

<li>Anda dan angkot.web.id tidak bertanggung jawab atas apapun yang terjadi
    atas penggunaan data.</li>
</ul>
</div>

<!--
The above contributor agreement terms was adapted from OpenStreetMap's
Contribution Terms Summary

http://www.osmfoundation.org/wiki/License/Contributor_Terms_Summary
-->

